.dashboard {
  padding: 15px;

  h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .dashboard-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
    margin-bottom: 15px;

    button {
      padding: 6px;
      border: none;
      border-radius: 4px;
      background: #dbde06;
      color: rgb(0, 0, 0);
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background: #555;
        color:white;
      }
    }
  }

  .users-table {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ddd;
        padding: 6px;
        text-align: center;
        font-size: 12px;
      }

      th {
        background: #f5f5f5;
      }
    }
  }

  /* 📱 Mobile */
  @media (max-width: 768px) {
    .dashboard-buttons {
      grid-template-columns: repeat(2, 1fr);

      button {
        font-size: 11px;
        padding: 6px;
      }
    }

    .users-table {
      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
    }
  }
}
